<div class="mx-auto md:w-2/3 w-full flex">
  <div class="grid grid-cols-2 gap-4">
    <div class="mx-auto col-start-1 col-end-1">
 
      <%= render @group %>

      <%= link_to 'Edit this group', edit_group_path(@group), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

      <div class="inline-block ml-2">
        <%= button_to 'Destroy this group', group_path(@group), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      </div>

      <%= link_to 'Back to groups', groups_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>

      <%= render 'posts/form', group: @group, post: Post.new %>

      <div id="posts" class="mx-auto">
        <strong class="block font-medium mb-1 py-3">All posts</strong>
        <%= render @posts, group: @group %>
      </div>
    </div>
    <div class="mx-auto col-start-2 col-end-2">
      <strong class="block font-medium mb-1 my-5">Members:</strong>

      <%= render partial: 'member', locals: {member: @group.owner } %>

      <%= render partial: 'member', collection: @group.members %>
    </div>
  </div>
</div>
